.chart{
    max-height:600px;
}
.wrapper{
    padding: 3em 10em 3em 10em;
}
.delete{
    padding: 1em 10em 1em 10em;
}
.center{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    padding-top: 2em;
}