<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <title>Survey Monkey</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5 pt-5 ">
    <div class="row ">
        <div class="col col-6">
            <div class="card p-5">
                <h5 class="card-title">Create a new survey</h5>
                <form action="/surveyQuestions" method="get">
                    <div class="my-3">
                        <label for="title" class="form-label">Survey Title:</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Create a new survey!</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col col-6">
            <div class="card p-5">
                <h5 class="card-title">Search existing surveys</h5>
                <form action="/surveyResults" method="post">
                    <div class="my-3">
                        <label for="surveyCode" class="form-label">Search by survey code:</label>
                        <input type="text" class="form-control" id="surveyCode" name="surveyCode" required="true">
                        <label for="surveyPassword" class="form-label">Enter survey password:</label>
                        <input type="password" class="form-control" id="surveyPassword" name="surveyPassword"
                               required="true">
                    </div>
                    <div class="mb-3">
                        <button type="submit" id="search" class="btn btn-secondary">Search Surveys</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-6" id="resultAvailable" style="display:none;">
            <div class="card p-5">
                <h5 class="card-title">Survey Results Without Password</h5>
                <form action="/surveyResultsWoPswrd" method="post">
                    <div class="my-3">
                        <label for="title" class="form-label">Click button below to view result without password</label>
                        <input type="text" class="form-control" id="surveyCodes" name="surveyCodes" required="true">

                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">View Results without Password</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="optionResult"  class="col">
                <div class="card w-50">
                    <div class="card-body">
                        <h5 class="card-title">Would You like to display result to the public?</h5>
                        <button type="submit" id="yesResult" class="btn btn-primary">Yes</button> <button id="noResult" type="submit" class="btn btn-primary">No</button>
                    </div>
                </div>
        </div>


    </div>
</div>
<script type="text/javascript">
  document.getElementById("yesResult").onclick = function() {
     document.getElementById("optionResult").style.display = "none";
     document.getElementById("resultAvailable").style.display = "block";


        }
  document.getElementById("noResult").onclick = function() {
     document.getElementById("resultAvailable").style.display = "none";
        }
</script>
</body>
</html>
