<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <title>Survey Monkey</title>
</head>
<body>
<form action="/surveyQuestions" method="get">
    <label for="title">Enter Survey Title:</label>
    <input type="text" id="title" name="title">
    <input type="submit" value="Create a new survey!">
</form>
<form action="/data" method="get">
    <label for="title2">Enter Survey Title:</label>
    <input type="text" id="title2" name="title2">
    <input type="submit" value="View Existing surveys.">
</form>
</body>
</html>