<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <title>Survey Monkey</title>
</head>
<body>
<form action="#" th:action="@{/survey}" th:object="${addQuestion}" method="post">
    <label for="question">Enter question: </label>
    <input type="text" id="question" th:field="*{question}"><br>
    <label for="type">Enter question type: </label>
    <input type="text" id="type" th:field="*{type}"><br>
    <label for="options">Enter question options: </label>
    <input type="text " id="options" th:field="*{options}"><br>
    <input type="hidden" id="id" th:field="*{id}"><br>
    <input type="submit" value="Create survey question!">
</form>
</body>
</html>